.comments-block {
  color: #D9EDFB;
  margin-top: 8%;
  margin-bottom: 8%;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: lighter;
  font-size: 20px;
  color: #ff8c3c;
}

.fullscreen-enabled .comments-block {
  margin-top: 8%;
  font-size: 25px;
}
