.metrics-summary {
  overflow: hidden;
  margin: 20px;
}

ul {
  list-style: none;
  justify-content: space-between;
  margin-left: -1px;
  color: #D9EDFB;
}

li {
  display: inline-block;
  border-right: 1px solid #ccc;
  padding: 0 2%;
}

li:last-child {
  border: 0;
}

.score {
  font-size: 100px;
  color: #FFFFFF;
}
