ul {
  list-style: none;
  justify-content: space-between;
  margin-left: -1px;
  color: #D9EDFB;
}

.received-list>li, .solved-list>li {
  display: inline-block;
  border-right: 1px solid #ccc;
  padding: 0 7%;
  height: 85px;
}

li:last-child {
  border: 0;
}

.bench-header {
  font-size: 25px;
}

.today, .thirtyday {
 font-weight: 200;
}

.tickets-received {
  margin-top: 70px;
}

.tickets-solved {
  margin-top: 45%;
  padding-bottom: 68%;
}
